<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
	role="banner" class="nav-bar w-nav">
	<nav role="navigation" class="nav-right-2 w-nav-menu">
		<a href="../../../public/index.html" aria-current="page" class="brand-div w-nav-brand w--current"><img
				src="../../../public/images/PS-Logo_1-tight.png" width="150"
				srcset="images/PS-Logo_1-tight-p-500.png 500w, images/PS-Logo_1-tight.png 746w"
				sizes="(max-width: 991px) 100vw, 150px" alt="" class="image" data-ix="fade-on-load-1"></a>
		<div class="div-block-5">
			<div class="div-block-60"><img src="../../../public/images/imageedit_1_3016345560.png" loading="lazy"
					srcset="../../../public/images/imageedit_1_3016345560-p-500.png 500w, ../../../images/imageedit_1_3016345560.png 600w"
					sizes="100vw" alt="" class="image-10">
				<a href="tel:+44(0)1245280448" class="nav-link w-nav-link" data-ix="fade-on-load-1">+44 (0)1245 280 448</a>
			</div>
			<div class="div-block-59"><img src="../../../public/images/imageedit_7_8668715118.png" loading="lazy"
					srcset="../../../public/images/imageedit_7_8668715118-p-500.png 500w, ../../../images/imageedit_7_8668715118.png 600w"
					sizes="100vw" alt="" class="image-10">
				<a href="mailto:info@osprey-security.com?subject=Website%20Enquiry" class="nav-link w-nav-link"
					data-ix="fade-on-load-1">info@osprey-security.com</a>
			</div>
		</div>
		<a href="partners.html" class="cta-2 smaller w-button" data-ix="fade-on-load-1">Contact</a>
	</nav>
	<nav role="navigation" class="nav-right-2 links w-nav-menu">
		<div class="div-block-62">
			<a href="#" class="nav-link w-nav-link" data-ix="fade-on-load-1">About</a>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Products</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">CCTV</a>
					<a href="#" class="dropdown-link w-dropdown-link">Access Control</a>
					<a href="#" class="dropdown-link w-dropdown-link">ANPR</a>
					<a href="#" class="dropdown-link w-dropdown-link">Interview Recorders</a>
					<a href="#" class="dropdown-link w-dropdown-link">Visitor Management</a>
					<a href="#" class="dropdown-link w-dropdown-link">Panic Alarms</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Markets</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">Marine</a>
					<a href="#" class="dropdown-link w-dropdown-link">Law Enforcement</a>
					<a href="#" class="dropdown-link w-dropdown-link">Parking</a>
					<a href="#" class="dropdown-link w-dropdown-link">Security</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Services</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">System design, build &amp; test</a>
					<a href="#" class="dropdown-link w-dropdown-link">Installations</a>
					<a href="#" class="dropdown-link w-dropdown-link">On-site mainteinance</a>
					<a href="#" class="dropdown-link w-dropdown-link">CCTV &amp; Alarm Monitoring</a>
					<a href="#" class="dropdown-link w-dropdown-link">Training</a>
					<a href="#" class="dropdown-link w-dropdown-link">Consultancy</a>
					<a href="#" class="dropdown-link w-dropdown-link">Risk Assessment</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Resources</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">Datasheets</a>
					<a href="#" class="dropdown-link w-dropdown-link">Gallery</a>
					<a href="#" class="dropdown-link w-dropdown-link">Knowledge Centre</a>
					<a href="#" class="dropdown-link w-dropdown-link">Tools</a>
					<a href="#" class="dropdown-link w-dropdown-link">Press</a>
				</nav>
			</div>
			<a href="product-page-template.html" class="nav-link w-nav-link" data-ix="fade-on-load-1">Product</a>
			<a href="sell.html" class="nav-link w-nav-link" data-ix="fade-on-load-1">News</a>
		</div>
		<div class="div-block-4">
			<form action="/search" class="search w-form"><input type="search" class="search-input w-input" maxlength="256"
					name="query" placeholder="Search…" id="search" required=""><input type="submit" value="Go"
					class="search-button w-button"></form>
		</div>
	</nav>
	<div class="menu-button w-nav-button">
		<div class="w-icon-nav-menu"></div>
	</div>
</div>
<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
	role="banner" class="scrolling-nav w-nav" data-ix="display-none">
	<nav role="navigation" class="nav-right-2 w-nav-menu">
		<a href="../../../public/index.html" aria-current="page" class="brand-div w-nav-brand w--current"><img
				src="../../../public/images/PS-Logo_1-tight.png" width="140"
				srcset="../../../public/images/PS-Logo_1-tight-p-500.png 500w, ../../../images/PS-Logo_1-tight.png 746w"
				sizes="100vw" alt=""></a>
		<div class="contact-top-nav">
			<div class="div-block-5">
				<div class="div-block-60"><img src="../../../public/images/imageedit_1_3016345560.png" loading="lazy"
						srcset="../../../public/images/imageedit_1_3016345560-p-500.png 500w, ../../../images/imageedit_1_3016345560.png 600w"
						sizes="100vw" alt="" class="image-10">
					<a href="tel:+44(0)1245280448" class="nav-link w-nav-link" data-ix="fade-on-load-1">+44 (0)1245 280 448</a>
				</div>
				<div class="div-block-59"><img src="../../../public/images/imageedit_7_8668715118.png" loading="lazy"
						srcset="../../../public/images/imageedit_7_8668715118-p-500.png 500w, ../../../images/imageedit_7_8668715118.png 600w"
						sizes="100vw" alt="" class="image-10">
					<a href="mailto:info@osprey-security.com?subject=Website%20Enquiry" class="nav-link w-nav-link"
						data-ix="fade-on-load-1">info@osprey-security.com</a>
				</div>
			</div>
			<a href="partners.html" class="cta-2 smaller w-button" data-ix="fade-on-load-1">Contact</a>
		</div>
	</nav>
	<nav role="navigation" class="nav-right-2 w-nav-menu">
		<div class="div-block-62">
			<a href="contact.html" class="nav-link w-nav-link" data-ix="fade-on-load-1">About</a>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Products</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">CCTV</a>
					<a href="#" class="dropdown-link w-dropdown-link">Access Control</a>
					<a href="#" class="dropdown-link w-dropdown-link">ANPR</a>
					<a href="#" class="dropdown-link w-dropdown-link">Interview Recorders</a>
					<a href="#" class="dropdown-link w-dropdown-link">Visitor Management</a>
					<a href="#" class="dropdown-link w-dropdown-link">Panic Alarms</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Markets</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">Marine</a>
					<a href="#" class="dropdown-link w-dropdown-link">Law Enforcement</a>
					<a href="#" class="dropdown-link w-dropdown-link">Parking</a>
					<a href="#" class="dropdown-link w-dropdown-link">Security</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Services</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">System design, build &amp; test</a>
					<a href="#" class="dropdown-link w-dropdown-link">Installations</a>
					<a href="#" class="dropdown-link w-dropdown-link">On-site mainteinance</a>
					<a href="#" class="dropdown-link w-dropdown-link">CCTV &amp; Alarm Monitoring</a>
					<a href="#" class="dropdown-link w-dropdown-link">Training</a>
					<a href="#" class="dropdown-link w-dropdown-link">Consultancy</a>
					<a href="#" class="dropdown-link w-dropdown-link">Risk Assessment</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Resources</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="#" class="dropdown-link w-dropdown-link">Datasheets</a>
					<a href="#" class="dropdown-link w-dropdown-link">Gallery</a>
					<a href="#" class="dropdown-link w-dropdown-link">Knowledge Centre</a>
					<a href="#" class="dropdown-link w-dropdown-link">Tools</a>
					<a href="#" class="dropdown-link w-dropdown-link">Press</a>
				</nav>
			</div>
			<a href="sell.html" class="nav-link w-nav-link" data-ix="fade-on-load-1">News</a>
		</div>
		<div class="div-block-4">
			<form action="/search" class="search w-form"><input type="search" class="search-input w-input" maxlength="256"
					name="query" placeholder="Search…" id="search" required=""><input type="submit" value="Go"
					class="search-button w-button"></form>
		</div>
	</nav>
	<div class="menu-button w-nav-button">
		<div class="w-icon-nav-menu"></div>
	</div>
</div>