# Defined Ignore
.env
.env*

./db/
./db/*
db/

# Caddyfile
build.sh
deploy.sh
GIT_ADD.sh
undeploy.sh

src/sql/mysql*
src/sql/mysql
src/sql/mysql/*
# Logs
logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
