<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Tue Sep 20 2022 13:27:13 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="632216a37120464cba2434db" data-wf-site="630f2987edd15c6db1f2ad57">
	<head>
		<meta charset="utf-8">
		<title>ANPR Signage</title>
		<meta content="ANPR Signage" property="og:title">
		<meta content="ANPR Signage" property="twitter:title">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="Webflow" name="generator">
		<link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
		<link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
		<link href="/public/css/osprey-marine.webflow.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
		<script
			type="text/javascript">WebFont.load({ google: { families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"] } });</script>
		<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
		<script
			type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
		<link href="/public/images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
		<link href="/public/images/webclip.png" rel="apple-touch-icon">
	</head>
	<body>
		<%- include('partials/nav-bar.ejs') %>
			<%- include('partials/scrolling-nav.ejs') %>
				<%- include('partials/breadcrumbs') %>
					<div id="CCTV-Categories-Overall" class="category-section section-5 wf-section">
						<div class="section-header">
							<div class="upper-head green" data-ix="fade-on-scroll-1">Comprehensive solutions for any security
								requirements </div>
							<div class="section-title" data-ix="fade-on-scroll-1">ANPR Signage</div>
							<div class="section-subhead" data-ix="fade-on-scroll-2">Osprey Security can provide a range of standard
								and custom ANPR message boards for car parks. These can display the Vehicle Registration Number (VRN)
								with a custom message. For example, WELCOME, NO ENTRY, GO TO RECEPTION etc. Different messages can be
								displayed for different vehicle groups. For example, a VIP vehicle could have the message “WELCOME FRED
								SMITH”, but an unknown vehicle could have the message “PLEASE BOOK IN AT RECEPTION”. We can provide
								bespoke signage around the LED message to incorporate customer information and corporate logos. <br><br>
								<div class="example-use anpr">
									<div class="image-frame use-case-image-wrapper anpr">
										<div class="helper-frame use-case-image anpr"><img
												src="https://osprey-marine-security.s3.eu-west-2.amazonaws.com/asset-images/anpr-signage.jpg">
										</div>
										<div class="helper-frame use-case-image anpr"><img
												src="https://osprey-marine-security.s3.eu-west-2.amazonaws.com/asset-images/anpr-reg-sign.jpg">
										</div>
										<h3>ANPR Signage and Message boards</<h3>
									</div>
								</div>
								<h4>LED Message Board</h4> Osprey Security’s message boards are available in single line and multiple
								line outdoor LED electronic displays. Character heights from 50mm to 1000mm are available ensuring
								optimum viewing distance can be achieved in virtually all locations. The outdoor LED signs dim
								automatically to ensure that they are clear to read in all ambient light conditions from direct sunlight
								to complete darkness. All LED signs have robust painted aluminium weatherproof casings rated to IP65
								standard as a minimum, ensuring long term reliability, even in the harshest of environments. Our LEDs
								have a lifetime in excess of 10 years, with low maintenance costs. They are available in single colour
								red, green, amber, blue and white and multi-colour. The signs can be driven over IP and can even be fed
								via 4G. They can be wall or pole mounted. We can integrate your LED message board into a printed sign
								showing customer information including text and logos, all supplied to the client’s design and corporate
								branding. <br><br>
								<h4>Signage Features</h4><br>
								<ul class="features-list">
									<li>High Brightness models for use bright surroundings</li>
									<li>Single line, Bi-Line and Multi-line options</li>
									<li>Single colour, Tri-Colour or Full Colour options</li>
									<li>Bespoke sizes available on request</li>
									<li>Hanging brackets supplied with each sign</li>
									<li>RS485, RS232 and Ethernet interface</li>
									<li>Heavy duty weather poof</li>
									<li>230V AC power supply (other voltages on request)</li>
								</ul>
							</div>
						</div>
						<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
							<a href="#">
								<div class="individual-category cctv">
									<div class="category-img"></div>
									<div class="category-name">#######</div>
							</a>
						</div>
						<div class="individual-category cctv">
							<a href="#">
								<div class="category-img _2"></div>
								<div class="category-name">#######</div>
							</a>
						</div>
						<div class="individual-category cctv">
							<a href="#">
								<div class="category-img _3"></div>
								<div class="category-name">#######</div>
							</a>
						</div>
						<div class="individual-category cctv">
							<a href="/contact">
								<div class="category-img imglast">
									<div class="tabtxt">Get a Quote</div>
							</a>
						</div>
					</div>
					</div>
					<div class="centred-cta">
						<div class="section-title smaller" data-ix="fade-on-scroll-1">Please contact us <a
								href="/contact"><em>now</em></a> for a free consultation on your requirements.</div>
						<div class="section-subhead" data-ix="fade-on-scroll-2">Nam ultrices id sapien ac finibus. Vivamus quis
							purus a ipsum maximus laoreet vitae nec nulla. Morbi eget urna metus. Cras nec enim pretium nunc volutpat
							consectetur a sed felis. Vivamus efficitur mauris sit amet sem ullamcorper, quis porta urna fermentum.
							Donec pellentesque magna vel congue tristique. Vivamus leo enim, venenatis euismod augue quis,
							pellentesque hendrerit nisl. Integer nibh velit, mattis sit amet erat nec, pulvinar rutrum odio. Integer
							finibus sem ut ante dapibus, lacinia fermentum orci dignissim. Quisque volutpat vitae nisi nec mollis.
							Pellentesque ut sem vitae ipsum egestas varius quis et urna. Donec ac cursus ex. In in gravida eros. Etiam
							vel ante porttitor, luctus lacus pellentesque, fermentum diam. <ul class="features-list">
							</ul>
							<h4>Features</h4>
							<ul class="features-list-1">
							</ul>
						</div>
						<br><br> We can assist with the design, supply, implementation and support of physical access solutions
						including magnetic and electric locks, turnstiles, doors, pedestrian and vehicle gates and barriers. <a
							href="partners.html" class="cta-2 colour5 bigger w-button" data-ix="fade-on-scroll-2">Get started
							today</a>
					</div>
					</div>
					<%- include('partials/footer.ejs') %>
						<script
							src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=630f2987edd15c6db1f2ad57"
							type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
							crossorigin="anonymous"></script>
						<script src="/public/js/webflow.js" type="text/javascript"></script>
						<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
						<style>
							.w-webflow-badge {
								position: fixed !important;
								display: None !important;
								visibility: hidden !important;
							}
						</style>
	</body>
</html>