/public/
<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Tue Sep 20 2022 13:27:13 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="632216a37120464cba2434db" data-wf-site="630f2987edd15c6db1f2ad57">
	<head>
		<meta charset="utf-8">
		<title>Panic Alarm system</title>
		<meta content="Panic Alarm System" property="og:title">
		<meta content="Panic Alarm System" property="twitter:title">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="Webflow" name="generator">
		<link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
		<link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
		<link href="/public/css/osprey-marine.webflow.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
		<script
			type="text/javascript">WebFont.load({ google: { families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"] } });</script>
		<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
		<script
			type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
		<link href="/public/images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
		<link href="/public/images/webclip.png" rel="apple-touch-icon">
	</head>
	<body>
		<%- include('partials/nav-bar') %>
			<%- include('partials/scrolling-nav') %>
				<%- include('partials/breadcrumbs') %>
					<div id="CCTV-Categories-Overall" class="category-section section-5 wf-section">
						<div class="section-header">
							<div class="upper-head green" data-ix="fade-on-scroll-1">Comprehensive solutions for any security
								requirements </div>
							<div class="section-title" data-ix="fade-on-scroll-1">Panic Alarm System</div>
							<div class="section-subhead" data-ix="fade-on-scroll-2">
								<img style="border:1px solid red;" src="#" alt="Affray panic strip"> Osprey Security Osprey Marine
								Security provide a range of panic alarm systems which offer high-durability. They are used to allow
								people to indicate that they require help or assistance. The entire length of our panic alarm strips are
								fully functionable.<br><br>Applications where panic strip alarms are commonly used are police stations,
								courts and prisons, care facilities, hospitals, interview and consulting rooms. They can be used to
								alert other staff members to an emergency or to ask for assistance in a high-risk or volatile situation.
								The range includes Dado Panic Strip and Panic Buttons which come in a variety of colours to suit your
								needs. This collection is tamper-resistant and easy to install.<br><br>
								<div class="example-use panic">
									<div class="image-frame use-case-image-wrapper panic">
										<img src="https://osprey-marine-security.s3.eu-west-2.amazonaws.com/asset-images/panic-strip.png"
											alt="Panic Affray Strip">
									</div>
									<div class="image-frame use-case-image-wrapper panic">
										<img src="https://osprey-marine-security.s3.eu-west-2.amazonaws.com/asset-images/panic-button.png"
											alt="Panic Button">
									</div>
									<div class="image-frame use-case-image-wrapper panic">
										<img
											src="https://osprey-marine-security.s3.eu-west-2.amazonaws.com/asset-images/panic-system-controller.png"
											alt="Panic System Controller">
									</div>
								</div><br><br>Text and graphics can be added to provide further information if required. <br><br>
								Installation of the panic strip is straightforward. Simply by cutting the strip to length and terminate
								using the range of pre-wired fittings. No special tools are required during the installation. The affray
								strip is robust and vandal resistant.<br><br>The system comprises three parts: <br>
								<ol><br>
									<li>Base aluminium extrusion</li>
									<li>Fully water-sealed ribbon switch</li>
									<li>Tamper resistant top cover</li>
								</ol>
								<br><br> Installation is simple. After the lead connections are made to the ribbon switch and the base
								has been screwed to the wall, the switch is placed in the base and the top cover snaps into position.
								End caps make the transition to standard 25mm x 15mm. Where internal wiring is used, closed end caps are
								available. Once the system is fully assembled it is tamper-resistant and difficult to vandalise.
								<br><br>
								<h4 class="features-list-h4">Features</h4>
								<ul class="features-list-1">
									<li>Colour options</li>
									<li>Operates over entire length</li>
									<li>Variable sensitivities</li>
									<li>Tamper resistant</li>
									<li>Different end caps available</li>
									<li>Easy installation</li>
									<li>Robust and reliable</li>
									<li>Interfaces to standard trunking</li>
									<li>LED end caps available</li>
									<li>Ingress Protection - IP65</li>
								</ul>
								<br>
								<h3>Panic buttons <br><br></h3><img style="border:1px solid red;" src="#" alt="panic buttons"> Mushroom
								headed button with momentary action. Supplied with normally closed and normally open contacts. <br><br>
								Brushed Stainless Steel <br><br> Supplied with 47mm deep galvanised mounting box for flush fitting
								<br><br> IP65 Rated <br><br> Customised versions available on request <br><br> Surface mount option
								available <br><br>
							</div>
						</div>
						<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
							<div class="individual-category cctv">
								<div class="category-img"></div>
								<div class="category-name">Cameras</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _2"></div>
								<div class="category-name">Camera Housing</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _3"></div>
								<div class="category-name">CCTV Transmission</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _5"></div>
								<div class="category-name">CCTV Recording</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _6"></div>
								<div class="category-name">Analytics</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _7"></div>
								<div class="category-name">CCTV Ancillaries</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img _7"></div>
								<div class="category-name">Security Management Software</div>
							</div>
							<div class="individual-category cctv">
								<div class="category-img imglast">
									<div class="tabtxt">Get a Quote</div>
								</div>
							</div>
						</div>
						<div class="centred-cta">
							<div class="section-title smaller" data-ix="fade-on-scroll-1">Please contact us <em>now</em> for a free
								consultation on your requirements.</div>
							<a href="partners.html" class="cta-2 colour5 bigger w-button" data-ix="fade-on-scroll-2">Get started
								today</a>
						</div>
					</div>
					<%- include('partials/footer.ejs') %>
						<script
							src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=630f2987edd15c6db1f2ad57"
							type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
							crossorigin="anonymous"></script>
						<script src="/public/js/webflow.js" type="text/javascript"></script>
						<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
						<style>
							.w-webflow-badge {
								position: fixed !important;
								display: None !important;
								visibility: hidden !important;
							}
						</style>
	</body>
</html>