<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cameras/marine-cameras">
			<div class="cctv-categories category-img _3"></div>
			<div class="category-name">Marine Cameras</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cameras/hazardous-environment">
			<div class="cctv-categories hazardous-cameras category-img _4"></div>
			<div class="category-name">Hazardous Area/ Explosion Proof</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cameras/thermal-cameras">
			<div class="cctv-categories thermal-cameras category-img _5"></div>
			<div class="category-name">Thermal Cameras</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cameras/commercial">
			<div class="cctv-categories commercial-cameras category-img _6"></div>
			<div class="category-name">Commercial Cameras</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/security-management-software">
			<div class="cctv-categories security-management category-img _7"></div>
			<div class="category-name">Security Management Software</div>
		</a>
	</div>
</div>