<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cameras">
			<div class="cctv-categories category-img"></div>
			<div class="category-name">Cameras</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/camera-housings">
			<div class="cctv-categories category-img _2"></div>
			<div class="cctv-categories category-name">Camera Housings</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cctv-transmission">
			<div class="cctv-categories category-img _3"></div>
			<div class="category-name">CCTV Transmission</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cctv-recordng">
			<div class="cctv-categories category-img _4"></div>
			<div class="category-name">CCTV Recording</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cctv-analytics">
			<div class="cctv-categories category-img _5"></div>
			<div class="category-name">CCTV Analytics</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/cctv-ancillaries">
			<div class="cctv-categories category-img _6"></div>
			<div class="category-name">CCTV Ancillaries</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/products/cctv/security-management-software">
			<div class="cctv-categories category-img _7"></div>
			<div class="category-name">Security Management Software</div>
		</a>
	</div>
</div>