<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category datasheets" id="datasheetsId">
		<a href="/datasheets/datasheets">
			<div class="datasheets category-img"></div>
			<div class="category-name">Datasheets</div>
		</a>
	</div>
	<div class="individual-category datasheets" id="datasheetsId">
		<a href="/datasheets/gallery">
			<div class="datasheets category-img _2"></div>
			<div class="datasheets category-name">Gallery</div>
		</a>
	</div>
	<div class="individual-category datasheets" id="datasheetsId">
		<a href="/datasheets/knowledge">
			<div class="datasheets category-img _3"></div>
			<div class="category-name">Knowledge Centre</div>
		</a>
	</div>
	<div class="individual-category datasheets" id="datasheetsId">
		<a href="/datasheets/tools">
			<div class="datasheets category-img _4"></div>
			<div class="category-name">Tools</div>
		</a>
	</div>
	<div class="individual-category datasheets" id="datasheetsId">
		<a href="/datasheets/press">
			<div class="datasheets category-img _5"></div>
			<div class="category-name">Press</div>
		</a>
	</div>
</div>