<div class="footer-wrapper cc ugh">
	<div class="page-padding-2">
		<div class="container-large-2">
			<div class="footer-columns-2">
				<div class="w-row">
					<div class="w-col w-col-3">
						<div class="nav-link foot">Home</div>
						<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a444332f5-444332ed" class="footer-brand">
							<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a444332f6-444332ed" class="footer-list">
								<a href="/about" class="footer-link-2 w-inline-block">
									<div class="button-text-wrapper">
										<div class="button-text">About</div>
									</div>
								</a>
								<a href="#" class="footer-link-2 w-inline-block">
									<div class="button-text-wrapper">
										<div class="button-text">Resources</div>
									</div>
								</a>
								<a href="/contact" class="footer-link-2 w-inline-block">
									<div class="button-text-wrapper">
										<div class="button-text">Contact</div>
									</div>
								</a>
								<a href="#" class="footer-link-2 w-inline-block">
									<div class="button-text-wrapper">
										<div class="button-text">Privacy Policy</div>
									</div>
								</a>
								<a href="/terms-conditions" class="footer-link-2 w-inline-block">
									<div class="button-text-wrapper">
										<div class="button-text">Terms and Conditions</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div class="nav-link foot">Products</div>
						<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a4443330e-444332ed" class="footer-list">
							<a href="/products/cctv" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">CCTV</div>
								</div>
							</a>
							<a href="/products/access-control" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Access Control</div>
								</div>
							</a>
							<a href="products/access-control/anpr" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">ANPR</div>
								</div>
							</a>
							<a href="/products/interview-recorders" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Interview Recorders</div>
								</div>
							</a>
							<a href="/products/visitor-management" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Visitor Management</div>
								</div>
							</a>
							<a href="/products/panic-alarms" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Panic Alarms</div>
								</div>
							</a>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a44433328-444332ed" class="footer-list">
							<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a44433329-444332ed" class="nav-link foot">Markets</div>
							<a href="/hazardous-areas" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Hazardous Areas</div>
								</div>
							</a>
							<a href="/security" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Security</div>
								</div>
							</a>
							<!-- <a href="/parking" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Parking</div>
								</div>
							</a> -->
							<a href="/marine" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Marine</div>
								</div>
							</a>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div class="footer-list">
							<div id="w-node-_8408eca6-b7b4-595d-7c3e-aa5a4443333d-444332ed" class="nav-link foot">Services</div>
							<a href="/services/system-design" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Design</div>
								</div>
							</a>
							<a href="/services/installations" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Installation</div>
								</div>
							</a>
							<a href="/services/service-support" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Service Support</div>
								</div>
							</a>
							<a href="/services/training" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Training</div>
								</div>
							</a>
							<a href="/services/consultancy" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Consultancy</div>
								</div>
							</a>
							<a href="/services/cctv-alarm-monitoring" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Monitoring</div>
								</div>
							</a>
							<a href="/services/risk" class="footer-link-2 w-inline-block">
								<div class="button-text-wrapper">
									<div class="button-text">Risk Assesment</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="div-block-57">
					<a href="mailto:info@osprey-security.com?subject=Website%20Enquiry" class="footer-link-2 w-inline-block">
						<div class="button-text-wrapper">
							<img src="/public/images/logos/PNG/Osprey Security_V3-dark.png" loading="lazy"
								srcset="/public/images/logos/PNG/Osprey Security_V3-dark.png 500w, /public/images/imageedit_7_8668715118.png 600w"
								sizes="30px" alt="" class="image-11" />
							<div class="nav-link contact-link">info@osprey-security.com</div>
						</div>
					</a>
					<a href="tel:01245210914" class="footer-link-2 w-inline-block">
						<div class="button-text-wrapper">
							<img src="/public/images/imageedit_1_3016345560.png" loading="lazy"
								srcset="/public/images/imageedit_1_3016345560-p-500.png 500w, /public/images/imageedit_1_3016345560.png 600w"
								sizes="30px" alt="" class="image-11" />
							<div class="nav-link contact-link">+44 (0)1245 210 914</div>
						</div>
					</a>
				</div>
				<div class="w-row">
					<div class="column-8 w-col w-col-9">
						<div class="text-block-11">© 2022 Osprey Security Ltd. Company Reg. No. 0745040</div>
						<div class="button-text">Registered Office: Swift House, 18 Hoffmanns Way, Chelmsford, Essex, United
							Kingdom, CM1 1GU</div>
					</div>
					<div class="w-col w-col-3">
						<div class="div-block-55">
							<a href="https://www.facebook.com/profile.php?id=100082821927888" class="link-block w-inline-block"><img
									src="/public/images/facebook-logo-2019.png" loading="lazy" alt="Facebook Icon Blue"
									class="image-9" /></a>
							<a href="https://www.facebook.com/profile.php?id=100082821927888"
								class="link-block w-inline-block social-icon"><img src="/public/images/pngwing.com-4.png" loading="lazy"
									alt="" class="image-9" /></a>
							<a href="https://www.facebook.com/profile.php?id=100082821927888"
								class="link-block w-inline-block social-icon"><img src="/public/images/pngwing.com-3.png" loading="lazy"
									alt="" class="image-9" /></a>
							<a href="https://www.linkedin.com/company/outsourced-credit-control-ltd/"
								class="link-block linkedin w-inline-block"><img src="/public/images/LinkedIn_icon_circle.svg.png"
									loading="lazy" alt="Linkedin Icon blue social-icon" class="image-9" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>