<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/about">
			<div class="main-categories category-img"></div>
			<div class="category-name">About</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/products">
			<div class="main-categories category-img _2"></div>
			<div class="category-name">Products</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/markets">
			<div class="main-categories category-img _3"></div>
			<div class="main-categories category-name">Markets</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/services">
			<div class="main-categories category-img _4"></div>
			<div class="category-name">Services</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/resources">
			<div class="main-categories category-img _5"></div>
			<div class="category-name">Resources</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/main-categories/training">
			<div class="main-categories category-img _6"></div>
			<div class="category-name">Training</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/main-categories/consultancy">
			<div class="main-categories category-img _7"></div>
			<div class="category-name">Consultancy</div>
		</a>
	</div>
	<div class="individual-category main-categories" id="main-categoriesId">
		<a href="/main-categories/risk-assessment">
			<div class="main-categories category-img _8"></div>
			<div class="category-name">Risk Assessment</div>
		</a>
	</div>
</div>