<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category markets" id="marketsId">
		<a href="/marine">
			<div class="markets category-img"></div>
			<div class="category-name">Marine</div>
		</a>
	</div>
	<div class="individual-category markets" id="marketsId">
		<a href="/law-enforcement">
			<div class="markets category-img _2"></div>
			<div class="markets category-name">Law Enforcement</div>
		</a>
	</div>
	<div class="individual-category markets" id="marketsId">
		<a href="/parking">
			<div class="markets category-img _3"></div>
			<div class="category-name">Parking</div>
		</a>
	</div>
</div>