<div id="cctv" class="categories-holder risks" data-ix="fade-on-scroll-2">
	<div class="individual-category services" id="serviceId">
		<a href="/services/risk/security-risk">
			<div class="risk category-img"></div>
			<div class="category-name">Security Risk</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/risk/fire-risk">
			<div class="risk category-img _2"></div>
			<div class="category-name">Fire Risk</div>
		</a>
	</div>
</div>