<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category security-category">
		<a href="">
			<div class="category-img"></div>
			<div class="category-name security-category">security category placeholder</div>
		</a>
	</div>
	<div class="individual-category security-category">
		<a href="">
			<div class="security category-img _2"></div>
			<div class="category-name security-category">security category placeholder</div>
		</a>
	</div>
	<div class="individual-category security-category">
		<a href="">
			<div class="security category-img _3"></div>
			<div class="category-name security-category">security category placeholder</div>
		</a>
	</div>
	<div class="individual-category security-category">
		<a href="">
			<div class="security category-img _5"></div>
			<div class="category-name">security category placeholder</div>
		</a>
	</div>
	<div class="individual-category security-category">
		<a href="">
			<div class="security category-img _6"></div>
			<div class="category-name security-category">security category placeholder</div>
		</a>
	</div>
	<div class="individual-category security-category">
		<a href="">
			<div class="security category-img _7"></div>
			<div class="category-name security-category">security category placeholder</div>
		</a>
	</div>
</div>