<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category services" id="serviceId">
		<a href="/services/system-design">
			<div class="service category-img"></div>
			<div class="category-name">System design, build & test</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/installations">
			<div class="service category-img _2"></div>
			<div class="service category-name">Installations</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/service-support">
			<div class="service category-img _3"></div>
			<div class="category-name">Service Support</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/cctv-alarm-monitoring">
			<div class="service category-img _4"></div>
			<div class="category-name">CCTV and Alarm Monitoring</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/training">
			<div class="service category-img _5"></div>
			<div class="category-name">Training</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/consultancy">
			<div class="service category-img _6"></div>
			<div class="category-name">Consultancy</div>
		</a>
	</div>
	<div class="individual-category services" id="serviceId">
		<a href="/services/risk">
			<div class="service category-img _7"></div>
			<div class="category-name">Risk Assessment</div>
		</a>
	</div>
</div>