<div class="sidebar-wrapper js-scroll">
	<div class="sidebar-1">
		<h5>products</h5>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
	</div>
	<div class="sidebar-2">
		<h5>services</h5>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
		<div class="side-nav"></div>
	</div>
	<div class="sidebar-3">
		<div class="side-nav"></div>
		<div class="side-nav"></div>
	</div>
	<div class="sidebar-4">
		<div class="side-nav"></div>
		<div class="side-nav"></div>
	</div>
	<h5>adverts or call to actions </h5>
	<div class="adverts-1"></div>
	<div class="adverts-2"></div>
</div>