<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category resources" id="resourceId">
		<a href="/resources/datasheets">
			<div class="resource category-img"></div>
			<div class="category-name">Datasheets</div>
		</a>
	</div>
	<div class="individual-category resources" id="resourceId">
		<a href="/resources/gallery">
			<div class="resource category-img _2"></div>
			<div class="resource category-name">Gallery</div>
		</a>
	</div>
	<div class="individual-category resources" id="resourceId">
		<a href="/resources/knowledge">
			<div class="resource category-img _3"></div>
			<div class="category-name">Knowledge Centre</div>
		</a>
	</div>
	<div class="individual-category resources" id="resourceId">
		<a href="/resources/tools">
			<div class="resource category-img _4"></div>
			<div class="category-name">Tools</div>
		</a>
	</div>
	<div class="individual-category resources" id="resourceId">
		<a href="/resources/press">
			<div class="resource category-img _5"></div>
			<div class="category-name">Press</div>
		</a>
	</div>
</div>