<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
	role="banner" class="scrolling-nav w-nav" data-ix="display-none">
	<nav role="navigation" class="nav-right-2 w-nav-menu">
		<a href="/" class="brand-div w-nav-brand"><img src="/public/images/Screenshot-2022-08-31-at-11.59.56.png"
				width="140"
				srcset="/public/images/Screenshot-2022-08-31-at-11.59.56-p-500.png 500w, /public/images/Screenshot-2022-08-31-at-11.59.56.png 562w"
				sizes="(max-width: 991px) 100vw, 140px" alt="" /></a>
		<div class="contact-top-nav">
			<div class="div-block-5">
				<div class="div-block-60">
					<img src="/public/images/imageedit_1_3016345560.png" loading="lazy"
						srcset="/public/images/imageedit_1_3016345560-p-500.png 500w, /public/images/imageedit_1_3016345560.png 600w"
						sizes="(max-width: 991px) 100vw, 25px" alt="" class="image-10" />
					<a href="tel:+44(0)1245280448" class="nav-link w-nav-link" data-ix="fade-on-load-1">+44 (0)1245 280 448</a>
				</div>
				<div class="div-block-59">
					<img src="/public/images/imageedit_7_8668715118.png" loading="lazy"
						srcset="/public/images/imageedit_7_8668715118-p-500.png 500w, /public/images/imageedit_7_8668715118.png 600w"
						sizes="(max-width: 991px) 100vw, 25px" alt="" class="image-10" />
					<a href="mailto:info@osprey-security.com?subject=Website%20Enquiry" class="nav-link w-nav-link"
						data-ix="fade-on-load-1">info@osprey-security.com</a>
				</div>
			</div>
			<a href="/contact-us" class="cta-2 smaller w-button" data-ix="fade-on-load-1">Contact</a>
		</div>
	</nav>
	<nav role="navigation" class="nav-right-2 w-nav-menu">
		<div class="div-block-62">
			<a href="/about" class="nav-link w-nav-link" data-ix="fade-on-load-1">About</a>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Products</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="/products/cctv" class="dropdown-link w-dropdown-link">CCTV</a>
					<a href="/products/cctv/cameras" class="dropdown-link w-dropdown-link">Cameras</a>
					<a href="/products/access-control" class="dropdown-link w-dropdown-link">Access Control</a>
					<a href="/products/access-control/anpr" class="dropdown-link w-dropdown-link">ANPR</a>
					<a href="/products/interview-recorders" class="dropdown-link w-dropdown-link">Interview Recorders</a>
					<a href="/products/visitor-management" class="dropdown-link w-dropdown-link">Visitor Management</a>
					<a href="/products/panic-alarms" class="dropdown-link w-dropdown-link">Panic Alarms</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Markets</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="/marine" class="dropdown-link w-dropdown-link">Marine</a>
					<a href="/law-enforcement" class="dropdown-link w-dropdown-link">Law Enforcement</a>
					<a href="/parking" class="dropdown-link w-dropdown-link">Parking</a>
					<a href="/security" class="dropdown-link w-dropdown-link">Security</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Services</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="/services/system-design" class="dropdown-link w-dropdown-link">System design, build &amp; test</a>
					<a href="/services/installations" class="dropdown-link w-dropdown-link">Installations</a>
					<a href="/sevices/service-support" class="dropdown-link w-dropdown-link">Service Support</a>
					<a href="/services/cctv-alarm-monitoring" class="dropdown-link w-dropdown-link">CCTV &amp; Alarm
						Monitoring</a>
					<a href="/services/training" class="dropdown-link w-dropdown-link">Training</a>
					<a href="/services/consultancy" class="dropdown-link w-dropdown-link">Consultancy</a>
					<a href="/services/risk" class="dropdown-link w-dropdown-link">Risk Assessment</a>
				</nav>
			</div>
			<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
				<div class="dropdown-toggle w-dropdown-toggle">
					<div class="w-icon-dropdown-toggle"></div>
					<div class="nav-link">Resources</div>
				</div>
				<nav class="dropdown-list w-dropdown-list">
					<a href="/resources/datasheets" class="dropdown-link w-dropdown-link">Datasheets</a>
					<a href="/resources/gallery" class="dropdown-link w-dropdown-link">Gallery</a>
					<a href="/resources/knowledge" class="dropdown-link w-dropdown-link">Knowledge Centre</a>
					<a href="/resources/tools" class="dropdown-link w-dropdown-link">Tools</a>
					<a href="/resources/press" class="dropdown-link w-dropdown-link">Press</a>
				</nav>
			</div>
			<a href="/product-page" class="nav-link w-nav-link" data-ix="fade-on-load-1">Product</a>
			<a href="/public/sell.html" class="nav-link w-nav-link" data-ix="fade-on-load-1">News</a>
		</div>
		<div class="div-block-4">
			<form action="/search" class="search w-form">
				<input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Search…" id="search"
					required="" /><input type="submit" value="Go" class="search-button w-button" />
			</form>
		</div>
	</nav>
	<div class="menu-button w-nav-button">
		<div class="w-icon-nav-menu"></div>
	</div>
</div>