<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/cctv">
			<div class="product-category category-img"></div>
			<div class="category-name">Closed-Circuit Television</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/access-control">
			<div class="product-category category-img _2"></div>
			<div class="product-category category-name">Access Control</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/anpr">
			<div class="product-category category-img _3"></div>
			<div class="category-name">Automatic Number Plate Recognition</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/panic-alarms">
			<div class="product-category category-img _4"></div>
			<div class="category-name">Panic Alarms</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/interview-recorders">
			<div class="product-category category-img _5"></div>
			<div class="category-name">Interview Recorders</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<a href="/products/visitor-management">
			<div class="product-category category-img _6"></div>
			<div class="category-name">Visitor Management</div>
		</a>
	</div>
	<div class="individual-category product-category" id="product-categoryId">
		<div class="category-img imglast">
			<div class="tabtxt"><a href="/contact">Get a Quote</a></div>
		</div>
	</div>
</div>